// User variables:
$accent: orange
$text: #333

// Bootstrap compatible gutter variable => $gutter
$grid-gutter-width: 20px
$gutter: $grid-gutter-width

// // Breakpoints mixin settings (node_modules/bootstrap/scss/mixins/_breakpoints.scss)
// // Example: +media-breakpoint-down(xs) - ≥576px / +media-breakpoint-up(sm) - // ≤576px
// // Default variables: node_modules/bootstrap/scss/_variables.scss
// $grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px)

$light-gray: #F4F4F4
$black: #444444
$gray-for-lines: rgba(68, 68, 68, 0.2)
$semi-black: rgba(68, 68, 68, 0.6)
$green: #2E8B42
$orange: #F2994A
$dark-gray: #C4C4C4
